<div class="container forty thin">
    <h1 class="center">About FollowUp.Church</h1>
    <div class="thousand">
        <%= image_tag('montoya-family.jpg', class: "img-thumbnail pull-right familyAbout") %>
        <p>My name is a Pastor Estevan Montoya, of the <a href="http://www.MVBCTaos.org" target="_blank">Mountain View Baptist Church</a> in Taos, NM. Having started a church plant, I know the value of keep track of people you meet. Chances are, you value the ability to follow up with people. You know the value of keeping contact. You may want to follow up for one the following reasons:</p>
        <ul>
            <li>You want to share the Gospel</li>
            <li>You want to get them in to a class</li>
            <li>You want to help them get baptized</li>
            <li>You want to help them join your church</li>
            <li>You know that your ministry is a place to help them grow</li>
        </ul>
        <p>The list can go on and on. Either way, it is vital to follow up with new contacts and converts. This web application with help you kepp track and follow up with people for the Glory of God!</p>
    </div>
</div>