<div class="container center forty thin">
    <h1>Follow Up With New Contacts And Converts</h1>
    <h2>A <strong>simple way</strong> to keep tract of new contacts and convert. Your ministry can continue to bring people Christ and help them grow in the Lord.</h2>
    <p class="forty">
        <%= link_to "Log In", "#", class: "btn btn-default btn-lg" %>
        <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
    </p>
</div>