<div class="container center forty thin">
    <h1><strong>PASTORS AND CHURCH PLANTERS</strong>:<br />Don't let anyone "slip through the cracks".</h1>
    <h2>A <strong>simple website</strong> for your church to keep track of new contacts and converts. Your ministry can continue to bring people Christ and help them grow in the Lord.</h2>
    <div class="forty">
        <h4 class="forty">Join the waiting list to be notified when we launch.</h4>
        <div class="center homeOptin">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="email@example.com">
                <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Join!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
</div>